<div class="border-bottom">
  <div class="float-left">
    <ul class="menu">
      <li class="menu"><a href="./home"  style="color: #06A496">Home</a></li>
      <li class="menu"><a href="./listcategory"  style="color: #06A496">Category</a></li>
      <li class="menu"><a href="./listproduct"  style="color: #06A496">Product</a></li>
      <li class="menu"><a href="./listorder"  style="color: #06A496">Order</a></li>
      <li class="menu"><a href="./listcustomer"  style="color: #06A496">Customer</a></li>
    </ul>
  </div>
  <div class="float-right">
    Hello <b><%=session.admin.username%></b> | <a href="./logout">Logout</a>
  </div>
  <div class="float-clear"></div>
</div>