<html>
<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="admin">
  <form action="./login" method="POST">
    <div class="login-box">
      <h1 class="text-center">Admin  Login</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username"  name="txtUsername">
      </div>

      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="txtPassword" >
      </div>

      <input type="submit" class="log" value="LOGIN" />
    </div>

  </form>
</body>
</html>