li.submenu {
  position: relative;
  padding-right: 35px;
}

li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 18px;
  top: 12px;
}

li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}


div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}

div.float-left {
  float: left;
  /* border: 1px solid black; */
}

div.float-right {
  float: right;
  /* border: 1px solid black; */
}

div.float-clear {
  clear: both;
}

ul.menu {
  margin: 0px;
  padding: 0px;
}

li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}

input.keyword {
  width: 110px;
}
