<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />

</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
    <form action="./login" method="POST">
      <div class="login-box">
        <h1 class="text-center">Login</h1>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username"  name="txtUsername">
        </div>

        <div class="textbox">
          <i class="fas fa-key"></i>
          <input type="password" placeholder="Password" name="txtPassword" >
        </div>

        <input type="submit" class="log" value="Sign In"/>
        <p class="text-center" >Don't have an account? <a href="/signup" style="color: #5f81f0">Sign Up</a> </p>    
      
      </div>
  


    </form> 
</body>

</html>